* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", serif;
}

body {
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

#background {
    position: absolute;
    z-index: -1;
}

.line {
    position: absolute;
    pointer-events: none;
}

#line-top {
    right: 0;
    top: 0;
}

#line-bottom {
    bottom: 0;
    left: 0;
}

.container {
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#top {
    position: absolute;
    top: 2rem;
}

.logo img {
    width: 1rem;
}

.logo h2 {
    font-size: 1rem;
}

header {
    max-width: 45%;
    text-align: center;
    font-size: 1.5rem;
}

header p {
    font-size: 1.2rem;
    opacity: 0.8;
    margin-top: 1rem;
}

form {
    display: grid;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.form-control {
    display: flex;
    flex-direction: column;
}

input {
    width: 30rem;
}

input[type="text"] {
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    color: white;
}

input[type="submit"] {
    background-color: hsl(7, 88%, 67%);
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.inner-input {
    width: 100%;
    height: 7rem;
    border: 0.17rem dashed rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    text-align: center;
    position: relative;
    margin: 0.5rem 0;
}

.inner-input input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    left: 0;
}

.inner-input img {
    margin-top: 2rem;
}

#upload-info {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 0.7rem;
    opacity: 0.8;
}

#ticket {
    position: relative;
    margin: 1rem 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1200px) {
    body {
        height: fit-content;
        justify-content: space-between;
    }

    #top,
    .attribution {
        position: inherit;
    }
}